body {
  background-color: #ff827b;
}

.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #C4F013;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}

.timer-grid-possiblewords {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.timer {
  flex-grow: 1;
}

.grid {
  flex-grow: 2;
}

.possible-words {
  flex-grow: 1;
}

.row {
  display: flex;
  justify-content: center;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 2px;
  border: 1px solid black;
  border-radius: 15px;
  box-shadow: 10px 10px 5px grey;
  background-color: yellow;
  color: black;
  font-size: 40px;
  font-family: 'Cormorant Garamond', serif;
  background-color: #5fbac2;
}

button {
  margin: 25px;
  background-color: #6adc78;
  border: 1px solid black;
  border-radius: 15px;
  font-size: 30px;
  font-family: 'Bad Script', cursive;
}

input {
  text-align: center;
  color: green;
  font-size: 30px;
  font-family: 'Cormorant Garamond', serif;
}

.search-input {
  margin-top: 25px;
}
